# Ignore jsonAndIcal files
*.json

# Ignore TXT files
*.txt

# Ignore PHP files
*.php

# Ignore ICS files
*.ics

*.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Environment
*.env
*.venv
venv/
ENV/
env/

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs and databases
*.log
*.sqlite3
*.sql

# Temporary files
*.bak
*.swp
*~

# Documentation
docs/_build/

# Jupyter Notebooks
.ipynb_checkpoints/

# pyenv
.python-version

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# pytype
.pytype/

# PyInstaller
dist/
build/

# pipenv
Pipfile.lock
